<button type="button" class="btn btn-light my-5" routerLink="add">Agregar avion</button>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Vuelo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Avión</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Ciudad destino</th>
            <th scope="col">Fecha de registro</th>
            <th scope="col">Fecha de salida</th>
            <th scope="col">Fecha de llegada</th>
            <th scope="col" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let itinerario of itinerarios; let i = index">
            <td>{{ itinerario.IdVuelos }}</td>
            <td>{{ itinerario.NombreVuelo }}</td>
            <td>{{ itinerario.Descripcion }}</td>
            <td>{{ itinerario.IdAvion.Nombre  }}</td>
            <td>{{ itinerario.IdCiudad.NombreCiudad }}</td>
            <td>{{ itinerario.IdDestino.NombreCiudad }}</td>
            <td>{{ itinerario.FechaRegistro | date }}</td>
            <td>{{ itinerario.FechaSalida | date }}</td>
            <td>{{ itinerario.FechaLlegada | date }}</td>   
            <td>
                <a [routerLink]="['edit', itinerario.IdVuelos]" style="text-decoration: none;">
                    editar
                </a>
            </td>
            <td>
                <a (click)="eliminarItinerario(i)" style="color: #b92020; cursor: pointer;">
                    borrar
                </a>
            </td>
        </tr>
    </tbody>
</table>